---
import experience from '../content/experience.json';

const experienceData = experience.experience;
---

<section class='mt-10'>
  <div class='grid lg:grid-cols-2 grid-cols-1 gap-x-12 gap-y-10'>
    {
      experienceData.map((experience) => (
        <div class='flex items-start lg:gap-x-6 gap-x-4 max-w-2xl relative before:absolute before:bottom-0 before:top-[5rem] before:left-9 before:w-[1px] before:h-[calc(100%-70px)] dark:before:bg-zinc-800 before:bg-zinc-200'>
          <a
            href='/'
            rel='noreferrer noopener'
            target='_blank'
            class='grid place-items-center dark:bg-primary-bg bg-secondary-bg border dark:border-zinc-800 border-zinc-200 min-h-[80px] min-w-[80px] p-2 rounded-md overflow-clip relative'
          >
            <img
              src={experience.image}
              class='object-cover duration-300 w-12 h-12'
              alt={`${experience.company} logo`}
            />
          </a>
          <div class='flex flex-col items-start'>
            <h3 class='text-xl font-bold'>{experience.company}</h3>
            <p>{experience.designation}</p>
            <time class='text-sm text-zinc-500 mt-2 tracking-widest uppercase'>
              {experience.duration}
            </time>
            <p class='tracking-tight dark:text-zinc-400 text-zinc-600 my-4'>
              {experience.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</section>
